body {
    overflow: hidden;
}

#jLoader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("http://www.gravitymedia.co.za/jLoader/images/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    z-index: 888;
}
